@using Pierres.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h1>@Model["vendor"].Name</h1>
    <th>@Model["vendor"].Description</td>  
    <ul>
    <h2>Current Orders</h2>
    @if(@Model["orders"].Count ==0)
    {
      <p>There are no current orders</p>
    } 
    else
    {
      <p>Click to expand details</p>
    } 
    @foreach(Order order in @Model["orders"])
    {
      <details>
        <summary>@order.Title</summary>
        <li>Description: @order.Description</li>
        <li>Price: @order.Price</li>
        <li>Date: @order.Date</li>
      </details>
    }
    </ul>
    </table>
    <a href='/vendors/@Model["vendor"].Id/orders/new' class="btn btn-info">Add an order for this Vendor</a>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>